body {
    font-family: sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Barra de navegação */
.navbar {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logotipo */
.logo {
    max-width: 90px;
    display: block;
}

/* Botões do cabeçalho */
.header-buttons {
    margin-right: 20px;
}

.header-button {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    margin: 0 10px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.header-button:hover {
    background-color: #0056b3;
}

/* Degradê entre Seção 1 e Seção 2 */
.section-gradient {
    background: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
    height: 20px;
}

/* Estilos para a seção branca (Seção 1) */
.section-white {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

.section-white h2 {
    font-size: 24px;
    color: #000000;
}

.section-white p {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

/* Estilos para a seção preta (Seção 2) */
.section-black {
    background-color: #000000;
    color: #fff;
    padding: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para a lista personalizada (bolinhas ao lado das letras maiúsculas) */
.custom-list {
    list-style-type: none;
    padding-left: 0;
    font-family: 'Fjalla One', sans-serif;
}

.custom-list li {
    margin-bottom: 10px;
    text-indent: 20px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

.custom-list li::before {
    content: '\2022';
    position: absolute;
    left: 0;
    color: #0056b3;
    font-size: 16px;
    margin-left: -15px;
}

/* Estilos para a seção 2 com imagem à esquerda e texto à direita */
.section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.section-image img {
    max-width: 80%;
    height: auto;
    margin-right: 120px;
    border-radius: 9px;
}

.section-text {
    flex: 1;
    text-align: left;
}

.section-black h2 {
    font-size: 24px;
}

.section-black p {
    font-size: 16px;
    font-weight: bold;
}

/* Estilos para a seção branca (Seção 3) */
.section-white {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

/* Estilos para a seção preta (Seção 4) */
.section-black {
    background-color: #000000;
    color: #fff;
    padding: 60px;
    text-align: center;
}

.section-title {
    font-size: 24px;
}

.section-black p {
    font-size: 16px;
    font-weight: bold;
}

/* Estilos para o botão CTA */
.botao-cta {
    margin-top: 50px;
    background-color: #0056b3;
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-color: #fff;
}

.botao-cta:hover {
    background-color: blueviolet;
}

/* Estilos para a transição com degradê entre Seção 2 e Seção 3 */
.section-gradient2 {
    background: linear-gradient(to bottom, #000000 0%, transparent 100%);
    height: 20px; /* Altura do degradê */
}

/* Estilos para as perguntas e respostas */
.faq-item {
    margin-bottom: 20px;
}

.toggle-answer {
    background-color: #0056b3;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
}

.answer {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

/* Estilos para a transição com degradê entre Seção 3 e Seção 4 */
.section-gradient3 {
    background: linear-gradient(to bottom, #fff 0%, #000 100%);
    height: 20px; /* Altura do degradê */
}

/* Estilos para o card de avaliação do curso */
.course-review-card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.review-avatar img {
    max-width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.review-content {
    flex: 1;
}

.review-content h3 {
    font-size: 18px;
    margin: 0;
}

.star-rating {
    display: inline-block;
    margin-top: 5px;
}

.star-rating-filled {
    width: 0; /* A largura será definida dinamicamente com base na classificação (0-100%) */
    height: 10px;
    background-color: #f4d03f; /* Cor das estrelas preenchidas */
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

/* Estilos para as estrelas */
.star-rating::before {
    content: '\2605\2605\2605\2605\2605'; /* Código da estrela preenchida */
    font-size: 14px;
    color: #f4d03f; /* Cor das estrelas preenchidas */
    position: absolute;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* Estilos para o texto da avaliação */
.review-text {
    font-size: 16px;
    color: #000; /* Cor do texto da avaliação */
}

/* Estilos para o degradê entre Seção 4 e Seção 5 */
.section-gradient4 {
    background: linear-gradient(to bottom, #fff 0%, #000 100%);
    height: 20px; /* Altura do degradê */
}

/* Estilos para a Seção de Contato (Seção 5) */
.section-contact {
    background-color: #000000;
    color: #fff;
    padding: 60px;
    text-align: center;
}

.section-contact h2 {
    font-size: 24px;
}

.section-contact p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.contact-info li {
    margin-bottom: 10px;
}
